<h1>Vista Socket</h1>
<h2>Agregar nuevo producto</h2>
<form id="form">
  <input type="text" id="title" placeholder="Titulo">
  <input type="number" id="price" placeholder="Precio">
  <input type="string" id="thumbnail" placeholder="Thumbnail">
  <input type="number" id="stock" placeholder="Stock">
  <input type="string" id="code" placeholder="Codigo">
 <button type="submit">Agregar</button>
</form>
<br/>
<h2>Lista de productos</h2>
{{#if products.length}}
<ul>
{{#each products}}
 <li>
  {{title}} - {{price}}
 </li>
{{/each}}
</ul>
{{else}}
<h2>NO HAY PRODUCTOS</h2>
{{/if}}
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>